{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{% static 'base/style.css' %}" />
    <title>Document</title>
  </head>

  <body>
    <div class="top-bar">
      <div class="top-nav">
        <div class="logo">
          <a href="#" class="logo-link">
            <span class="logo-text-white">Your</span
            ><span class="logo-text-red">Tube</span>
          </a>
        </div>

        <div class="top-nav-links">
          <a href="#">Upload</a>
          <a href="#">Register</a>
        </div>
      </div>
    </div>

    <div class="content-container">
      <div class="side-nav">
        <ul class="side-nav-links">
          <li><a href="#">Home</a></li>
          <li><a href="#">Trending</a></li>
          <li><a href="#">History</a></li>
          <li><a href="#">Subscriptions</a></li>
          <li><a href="#">Library</a></li>
          <li><a href="#">Settings</a></li>
          <li><a href="#">Logout</a></li>
        </ul>
      </div>

      <div class="main-content">{% block content %} {% endblock content %}</div>
    </div>
  </body>
</html>
